label {
    padding-right: 6px;
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
}
div#formCadastro {
    width: 800px;
    height: 100%;
    overflow-y: overlay;
}
div#wrapCampos:after {
    content: "";
    display: block;
    clear: both;
}
div.campo {
    width: 48%;
    float: left;
}
select {
    border: none;
    width: 170px;
    border-bottom: 2px solid#883333
}
input[type=text] {
    border: none;
    border-bottom: 2px solid #883333;
    padding: 2px 6px;
    width: 170px;
}
input[type=text]:focus {
    background: #eee;
    outline-width: 0;
}
input[type=submit] {
    border: 2px solid #883333;
    background: none;
    border-radius: 4px;
    padding: 4px 12px;
    width: 120px;
    margin-left: 6px;
    transition: all 0.3s;
    cursor: pointer;
}
input[type=submit]:hover {
    background: #aa2222;
    color: white;
}
input[type=submit]:focus {
    outline-width: 0;
}