extends layout.pug

block contentSrc
    link(href="/css/cadastraMontadora.css" rel="stylesheet")

block content
    div(id="formCadastro")
        <h2>Cadastro de Veículos</h2>
        <form action="/add/veiculo" method="post" onsubmit="return validaForm()">
            div(class="campo")  
                label(for="user") Usuário
                input(id="user" name="user" type="text" disabled="disabled" value=usuario)
            div(class="campo")
                label(for="montadora") Montadora
                select(id="montadora" name="montadora")
                    each v in montadoras
                        option(value=v.id) #{v.nome}     
            <div class="campo"><label for="arqFoto">Nome Arquivo Foto: </label><input id="arqFoto" name="arqFoto" type="text" autocomplete="off"></div>
            <div class="campo"><label for="nomeModelo">Nome do Modelo: </label><input id="nomeModelo" name="nomeModelo" type="text" autocomplete="off"></div>
            <div class="campo"><label for="anoFabricacao">Ano de Fabricação: </label><input id="anoFabricacao" name="anoFabricacao" type="text" autocomplete="off"></div>
            <div class="campo"><label for="cores">Cores: </label><input id="cores" name="cores" type="text" autocomplete="off"></div>
            <div class="campo"><label for="tipoChassi">Tipo Chassi: </label><input id="tipoChassi" name="tipoChassi" type="text" autocomplete="off"></div>
            <div class="campo"><label for="suspDianteira">Suspenção Dianteira: </label><input id="suspDianteira" name="suspDianteira" type="text" autocomplete="off"></div>
            <div class="campo"><label for="suspTraseira">Suspensão Traseira: </label><input id="suspTraseira" name="suspTraseira" type="text" autocomplete="off"></div>
            <div class="campo"><label for="pnDianteiro">Pneu Dianteiro: </label><input id="pnDianteiro" name="pnDianteiro" type="text" autocomplete="off"></div>
            <div class="campo"><label for="pnTraseiro">Pneu Traseiro: </label><input id="pnTraseiro" name="pnTraseiro" type="text" autocomplete="off"></div>
            <div class="campo"><label for="frDianteiro">Freio Dianteiro: </label><input id="frDianteiro" name="frDianteiro" type="text" autocomplete="off"></div>
            <div class="campo"><label for="frTraseiro">Freio Traseiro: </label><input id="frTraseiro" name="frTraseiro" type="text" autocomplete="off"></div>
            <div class="campo"><label for="tpFreio">Tipo de Freio: </label><input id="tpFreio" name="tpFreio" type="text" autocomplete="off"></div>
            <div class="campo"><label for="qtdCilindros">Quantidade de Cilindros: </label><input id="qtdCilindros" name="qtdCilindros" type="text" autocomplete="off"></div>
            <div class="campo"><label for="diametro">Diâmetro: </label><input id="diametro" name="diametro" type="text" autocomplete="off"></div>
            <div class="campo"><label for="curso">Curso: </label><input id="curso" name="curso" type="text" autocomplete="off"></div>
            <div class="campo"><label for="cilindrada">Cilindrada: </label><input id="cilindrada" name="cilindrada" type="text" autocomplete="off"></div>
            <div class="campo"><label for="potMax">Potência Máxima: </label><input id="potMax" name="potMax" type="text" autocomplete="off"></div>
            <div class="campo"><label for="tqMax">Torque Máximo: </label><input id="tqMax" name="tqMax" type="text" autocomplete="off"></div>
            <div class="campo"><label for="stPartida">Sistema de Partida: </label><input id="stPartida" name="stPartida" type="text" autocomplete="off"></div>
            <div class="campo"><label for="tpAlimentacao">Tipo de Alimentação: </label><input id="tpAlimentacao" name="tpAlimentacao" type="text" autocomplete="off"></div>
            <div class="campo"><label for="combustivel">Combustível: </label><input id="combustivel" name="combustivel" type="text" autocomplete="off"></div>
            <div class="campo"><label for="stTransmissao">Sistema de Transmissão: </label><input id="stTransmissao" name="stTransmissao" type="text" autocomplete="off"></div>
            <div class="campo"><label for="cambio">Cãmbio: </label><input id="cambio" name="cambio" type="text" autocomplete="off"></div>
            <div class="campo"><label for="bateria">Bateria: </label><input id="bateria" name="bateria" type="text" autocomplete="off"></div>
            <div class="campo"><label for="txCompress">Taxa de Compressão: </label><input id="txCompress" name="txCompress" type="text" autocomplete="off"></div>
            <div class="campo"><label for="comprimento">Comprimento: </label><input id="comprimento" name="comprimento" type="text" autocomplete="off"></div>
            <div class="campo"><label for="largura">Largura: </label><input id="largura" name="largura" type="text" autocomplete="off"></div>
            <div class="campo"><label for="altura">Altura: </label><input id="altura" name="altura" type="text" autocomplete="off"></div>
            <div class="campo"><label for="distEixos">Distância entre Eixos: </label><input id="distEixos" name="distEixos" type="text" autocomplete="off"></div>
            <div class="campo"><label for="distSolo">Distância do Solo: </label><input id="distSolo" name="distSolo" type="text" autocomplete="off"></div>
            <div class="campo"><label for="altAs">Altura do Assento: </label><input id="altAs" name="altAs" type="text" autocomplete="off"></div>
            <div class="campo"><label for="tqComb">Tanque de Combustível: </label><input id="tqComb" name="tqComb" type="text" autocomplete="off"></div>
            <div class="campo"><label for="peso">Peso: </label><input id="peso" name="peso" type="text" autocomplete="off"></div>
            <input type="submit" value="Cadastrar">
        </form>
    script(src="/jquery.js")
    script(src="/script/main.js")