extends layout.pug

block contentSrc
    link(href="/css/tabelas.css" rel="stylesheet")
    
block content
    table(id="dadosCadastrados")
        thead
            tr
                each v in h
                    td #{v}
        tbody
            each m in montadoras
                tr
                    each val in m
                        td #{val}