extends layout

block contentSrc
    link(href="/css/home.css" rel="stylesheet")

block content
    div(id="menu")
        h1 Bem-vindo #{user}!
        div(id="listaOpt")
            a(href="/cadastraMontadora") Cadastrar Montadora
            a(href="/cadastraVeiculo") Cadastrar Modelo
            a(href="/listar/montadoras") Lista das Montadoras Cadastradas
            a(href="/listar/modelos") Lista de Modelos Cadastrados