head
    link(href="/css/homeStyle.css" rel="stylesheet")
body
    h1 Bem vindo #{user}!
    h2 Menu Principal
    ul
        li
            a(href="/cadastraMontadora") Cadastrar Montadora
        li
            a(href="/cadastraVeiculo") Cadastrar Veículo
        li
            a(href="/listar/modelos") Lista de Modelos Cadastrados