extends layout

block contentSrc
    link(href="/css/login.css" rel="stylesheet")

block content
    div(class="login_wrap")
        form(action="/login" method="post")
            fieldset
                legend Usuário
                input(type="text" name="user" class="dados" id="user")
            br
            fieldset
                legend Senha
                input(type="password" name="pw" class="dados" id="pw")
            br
            input(type="submit" class="enviar")
            p(id="recuperaSenha") Recuperar Senha
block contentScripts
    script(src="/script/login.js")