extends layout

block contentSrc
    link(href="/css/login.css" rel="stylesheet")

block content
    div(class="login_wrap")
        div(id="formLogin")
            fieldset
                legend Usuário
                input(type="text" name="user" class="dados" id="user")
            br
            fieldset
                legend Senha
                input(type="password" name="pw" class="dados" id="pw")
            br
            button(class="enviar" id="enviarLogin") Enviar
            p(id="recuperaSenha") Recuperar Senha
block contentScripts
    script(src="/script/login.js")